
.container {
    margin: 0 auto;
    width: 1280px;
  
  }
  
  .logo {
    font-family: "Roboto";
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    display: block;
    margin-top: 63px;
    margin-bottom: 40px;
  }
  
  .logo span {
    color: #4bcaff;
  }
  
  .main-nav {
    display: flex;
    justify-content: center;
    background: #35444f;
  }
  
  .main-nav--item {
    border-right: 1px solid #fff;
  }
  .main-nav--item:first-child {
    border-left: 1px solid #fff;
  }
  
  .main-nav--link {
    color: #fff;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 28px;
    padding: 22px 32px;
    display: block;
  }
  .main-nav--link:hover {
    background: #222f3a;
  }
  .main {
padding: 50px; 
width: 344px;
display: flex;


  }
  .main .container {
   display: flex;
   gap: 52px;
  
  }
  .aside {
    border: 1px solid #000000;
  }
  
  .aside-3 {
font-family: 'Roboto';
padding: 26px 44px;
font-weight: 400;
font-size: 27px;
line-height: 27px;
min-width: 345px;

display: block;

color: #485863;
  }
  .aside-3:hover {
    padding-left: 88px;
    padding-right: 0px;
    background-color: #DBDBDB;
  }
  .img-wrap {
  display: flex;
    border: 1px solid;
    text-align: center;
   margin-bottom: 37px;
   margin-left: 53px;
padding: 75px 0;
width: 861px;
height: 529px;
display: block;
  }
 

  .text {

margin-bottom: 34px;
font-family: 'Roboto';
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
margin-left: 52px;
  }
  .footer {
display: flex;

justify-content: center;
align-content:center ;

margin-bottom: 30px;
background-color: rgba(99, 105, 110, 0.48);
  }
 .row {
  display: flex;

  margin-right: 20px;
  color: #0C1927;
 
font-family: 'Roboto';
font-style: normal;

font-size: 28px;



display: flex;
align-items: center;


 }
 .row:hover {
  color: #3181A6;
  text-decoration: underline;

 }
.row-2 {

  color: #0C1927;
 
font-family: 'Roboto';
font-style: normal;
margin-left: 135px;
margin-right: 140px;
font-size: 28px;
}
.row-2:hover {
 
  color: #3181A6;
  text-decoration: underline;
}